body{
    font-family: Lato;
}

#equipo{
    background-color: #673ab7;
    color: white;
    padding: 15px;
    text-align: center;
}

#entrenador{
    color: #673ab7;
    font-weight: bold;
    text-align: center;
}

#equipo-imagen{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

table{
    position: relative;
    border: 2px solid #673ab7;
    border-collapse: collapse;
    left: 50%;
    transform: translateX(-50%);
}

tr{
    padding: 10px;
    border: 2px solid #673ab7;
    text-align: center;
}

th{
    background-color: #673ab7;
    color: white;
    text-align: center;
}

td{
    border: 2px solid #673ab7;
    padding: 5px;
    margin: 5px;
}